/* @theme lection */

@import "gaia";

section {
  background: #fff !important;
  color: #000000;
  font-family: Arial;
  font-size: 24pt;
  padding: 40px;
}

pre {
  background: #fff !important;
}

section code {
  background: #fff !important;
  color: #000;
}

section.big-code {
  background: #fff !important;
  color: #000;
}

section.big-code code {
  font-size: 42pt;
  padding: 0px;
}

section.invert-big-shifted {
  background: #000 !important;
  color: #fff;
  padding-left: 100px;
  padding-top: 65px;
}

section.invert-big-shifted code {
  background: #000 !important;
  color: #fff;
  /* font-family: Arial; */
  font-size: 32pt;
  padding: 0px;
}

section.invert-big-shifted pre {
  background-color: #000 !important;
}

section.invert-big {
  background: #000 !important;
  color: #fff;
}

section.invert-big code {
  background: #000 !important;
  color: #fff;
  /* font-family: Arial; */
  font-size: 28pt;
  padding: 0px;
}

section.invert-big pre {
  background-color: #000 !important;
}

section.invert {
  background: #000 !important;
  color: #fff;
}

section.invert code {
  background: #000 !important;
  color: #fff;
}

section.invert pre {
  background-color: #000 !important;
}

section.contacts img {
  vertical-align: middle;
}

section.linux img {
  vertical-align: middle;
}

section.oneline {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

section.oneline-invert {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background: rgb(254, 220, 52) !important;
  color: rgb(0, 0, 0);
}

section.oneline-center img {
  vertical-align: middle;
}

section.manylines {
  background: #ffffff;
  color: #000000;
  font-family: Arial;
  font-size: 19pt;
  padding: 40px;
}

section.manylines2 {
  background: #ffffff;
  color: #000000;
  font-family: Arial;
  font-size: 19.5pt;
  padding: 20px;
}

section.imagewall img {
  vertical-align: middle;
  padding-right: 50px;
}

section.imagewall p {
  margin: 3em 0 0;
  text-align: center;
}

section.diagram img {
  text-align: center;
  vertical-align: middle;
  align-items: center;
  margin-top: -14pt;
}

section.diagram p {
  text-align: left;
}

section.diagram_minimal p {
  text-align: center;
  margin-top: -15pt;
  margin-bottom: 18pt;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 24pt;
}

/* section img {
  margin-left: 100px;
} */

section.invert2_10 {
  text-align: center;
}

section.invert2_10 h1 {
  margin-top: 10%;
}

section.invert2_2 {
  text-align: center;
}

section.invert2_2 h1 {
  margin-top: 20%;
}

section.invert3_10 {
  text-align: center;
}

section.invert3_10 h1 {
  margin-top: 0%;
}

section.split {
  overflow: visible;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 36pt auto;
  grid-template-areas: 
      "slideheading slideheading"
      "leftpanel rightpanel";
}
/* debug */
section.split h3, 
section.split .ldiv, 
section.split .rdiv { border: 0pt dashed dimgray; }
section.split h3 {
  grid-area: slideheading;
  font-size: 50px;
}

section.split .ldiv { grid-area: leftpanel; }
section.split .rdiv { 
  grid-area: rightpanel;
  flex: auto;
  align-items: center;
  justify-content: center;
}
section.split img {
  margin-left: 36px;
  /* margin-top: 0px; */
  /* margin-right: 0px; */
  /* margin-bottom: 0px; */
}
